<!DOCTYPE html>
<html>
<head>
<title>Travel Loop</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", Arial, Helvetica, sans-serif}
.myLink {display: none}
</style>
</head>
<body class="w3-light-grey">

<!-- Navigation Bar -->
<div class="w3-bar w3-white w3-border-bottom w3-xlarge">
  <a href="#" class="w3-bar-item w3-button w3-text-red w3-hover-red"><b><i class="fa fa-map-marker w3-margin-right"></i>Travel Loop</b></a>
  <a href="#" class="w3-bar-item w3-button w3-right w3-hover-red w3-text-grey"><i class="fa fa-search"></i></a>
</div>

<!-- Main Content -->
<div class="w3-container">
  <h3>Explore the world</h3>
  <p>Travel with us and see the world at its finest.</p>
</div>

<div class="w3-row-padding">
  <!-- Paris -->
  <div class="w3-third w3-margin-bottom">
    <a href="/paris">
      <img src="https://sa.visamiddleeast.com/dam/VCOM/regional/cemea/generic-cemea/travel-with-visa/destinations/paris/marquee-travel-paris-800x450.jpg" alt="paris" style="width:100%">
      <div class="w3-container w3-white">
        <h3>Paris, France</h3>
      </div>
    </a>
  </div>

  <!-- New York -->
<!--   <div class="w3-third w3-margin-bottom">
    <a href="/NYC">
      <img src="https://assets.bwbx.io/images/users/iqjWHBFdfxIU/ilqUNvPJEk5Q/v1/-1x-1.jpg" alt="New York" style="width:100%">
      <div class="w3-container w3-white">
        <h3>New York, USA</h3>
      </div>
    </a>
  </div> -->

  <!-- London -->
<!--   <div class="w3-third w3-margin-bottom">
    <a href="/london">
      <img src="https://media.istockphoto.com/id/1347665170/photo/london-at-sunset.jpg?s=612x612&w=0&k=20&c=MdiIzSNKvP8Ct6fdgdV3J4FVcfsfzQjMb6swe2ybY6I=" alt="London" style="width:100%">
      <div class="w3-container w3-white">
        <h3>London, England</h3>
      </div>
    </a>
  </div> -->
</div>

</body>
</html>
