 <!DOCTYPE html>
<html>
<head>
  <title>Sign up</title>
</head>
<body>

  <h1>Enter username information </h1>
  <form action="/" method = "POST">
    <input type="text" name = "email" placeholder="email">
    <input type="text" name = "password" placeholder="password">
    <input type="text" name = "username" placeholder="username">
    <input type="text" name = "full_name" placeholder="full name">

    <input type="submit" value="sign up">
  </form>
  <h2><a href="/signin">Already have an account</a></h2>



</body>